* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Geologica', sans-serif; }

.grid {
  background-color: aliceblue;
  color: black;
  height: auto;
  display: grid;
  grid-template: 12vh auto 10vh / 80% 20%;
  grid-template-areas: "gridHeader gridHeader" "gridMain gridAside" "gridFooter gridFooter "; }
  .grid .gridHeader {
    grid-area: gridHeader; }
    .grid .gridHeader .nav {
      height: 100%;
      display: grid;
      grid-template: 50% 50% / 10% 80%;
      grid-template-areas: "logo buscador" "logo barra";
      background-color: #e4f30e;
      border-bottom: 1px solid; }
      .grid .gridHeader .nav .logo {
        grid-area: logo;
        display: flex;
        justify-content: center; }
        .grid .gridHeader .nav .logo .logo__a {
          display: flex;
          justify-content: center; }
      .grid .gridHeader .nav .nav__search {
        grid-area: buscador;
        display: flex;
        justify-content: center; }
        .grid .gridHeader .nav .nav__search .nav__search__i {
          height: 100%;
          border-radius: 8px;
          text-align: center; }
        .grid .gridHeader .nav .nav__search .nav__search__icon {
          width: 4%;
          text-decoration: none; }
          .grid .gridHeader .nav .nav__search .nav__search__icon :visited {
            color: black; }
          .grid .gridHeader .nav .nav__search .nav__search__icon :active {
            color: black; }
          .grid .gridHeader .nav .nav__search .nav__search__icon :hover {
            background-color: darkgray; }
          .grid .gridHeader .nav .nav__search .nav__search__icon .material-symbols-outlined {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center; }
      .grid .gridHeader .nav .nav__ul {
        grid-area: barra;
        display: flex; }
      .grid .gridHeader .nav .nav__ul__li {
        color: #050505;
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center; }
        .grid .gridHeader .nav .nav__ul__li :hover {
          background-color: cadetblue; }
        .grid .gridHeader .nav .nav__ul__li .nav__ul__li__a {
          text-decoration: none;
          color: black;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
  .grid .gridMain {
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-area: gridMain;
    background-color: aliceblue;
    border-right: 1px solid black;
    height: 100%; }
    .grid .gridMain .cont {
      display: flex;
      flex-flow: column;
      height: 100%; }
      .grid .gridMain .cont .cont__articulos {
        height: 30%;
        width: 100%;
        display: flex; }
        .grid .gridMain .cont .cont__articulos :hover {
          background-color: antiquewhite; }
        .grid .gridMain .cont .cont__articulos .cont__articulos__a {
          display: flex;
          border: 1px solid black;
          padding: 10px;
          align-items: center;
          text-decoration: none;
          height: 100%;
          width: 100%; }
          .grid .gridMain .cont .cont__articulos .cont__articulos__a .conteiner {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 43%;
            height: 100%; }
            .grid .gridMain .cont .cont__articulos .cont__articulos__a .conteiner .conteiner__img {
              width: 90%; }
              .grid .gridMain .cont .cont__articulos .cont__articulos__a .conteiner .conteiner__img :hover {
                transform: scale(1.1, 1.1); }
          .grid .gridMain .cont .cont__articulos .cont__articulos__a .cont__articulos__a__txt {
            display: flex;
            flex-direction: column; }
            .grid .gridMain .cont .cont__articulos .cont__articulos__a .cont__articulos__a__txt .precio {
              color: #10c110;
              display: flex;
              justify-content: flex-end;
              font-weight: 700;
              font-size: large; }
  .grid .gridAside {
    grid-area: gridAside;
    text-align: center;
    height: 100%;
    background-color: aqua; }
  .grid .gridFooter {
    grid-area: gridFooter;
    background-color: brown; }
