* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Geologica', sans-serif; }

.grid {
  background-color: aliceblue;
  color: #48178b;
  height: auto;
  display: grid;
  grid-template: 12vh auto 10vh / 80% 20%;
  grid-template-areas: "gridHeader gridHeader" "gridMain gridAside" "gridFooter gridFooter "; }
  .grid .gridHeader {
    grid-area: gridHeader; }
    .grid .gridHeader .nav {
      color: #48178b;
      height: 100%;
      display: grid;
      grid-template: 50% 50% / 10% 80%;
      grid-template-areas: "logo buscador" "logo barra";
      background-color: #000000;
      border-bottom: 1px solid; }
      .grid .gridHeader .nav .logo {
        grid-area: logo;
        display: flex;
        justify-content: center;
        color: #48178b; }
        .grid .gridHeader .nav .logo .logo__a {
          display: flex;
          justify-content: center;
          color: #48178b; }
          .grid .gridHeader .nav .logo .logo__a .logo__a__img {
            color: #48178b; }
      .grid .gridHeader .nav .nav__search {
        grid-area: buscador;
        display: flex;
        justify-content: center; }
        .grid .gridHeader .nav .nav__search .nav__search__i {
          height: 100%;
          border-radius: 8px;
          text-align: center; }
        .grid .gridHeader .nav .nav__search .nav__search__icon {
          width: 4%;
          text-decoration: none; }
          .grid .gridHeader .nav .nav__search .nav__search__icon :visited {
            color: #cababa; }
          .grid .gridHeader .nav .nav__search .nav__search__icon :active {
            color: #dac9c9; }
          .grid .gridHeader .nav .nav__search .nav__search__icon :hover {
            background-color: #8d2e95; }
          .grid .gridHeader .nav .nav__search .nav__search__icon .material-symbols-outlined {
            color: #48178b;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center; }
      .grid .gridHeader .nav .nav__ul {
        grid-area: barra;
        display: flex; }
      .grid .gridHeader .nav .nav__ul__li {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center; }
        .grid .gridHeader .nav .nav__ul__li :hover {
          background-color: cadetblue; }
        .grid .gridHeader .nav .nav__ul__li .nav__ul__li__a {
          color: #48178b;
          text-decoration: none;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
  .grid .gridMain {
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-area: gridMain;
    background-color: #20262e;
    border-right: 1px solid black;
    height: 100%; }
    .grid .gridMain .cont {
      display: flex;
      flex-flow: column;
      height: 100%; }
      .grid .gridMain .cont .cont__articulos {
        height: 30%;
        width: 100%;
        display: flex; }
        .grid .gridMain .cont .cont__articulos :hover {
          background-color: antiquewhite; }
        .grid .gridMain .cont .cont__articulos .cont__articulos__a {
          display: flex;
          border: 1px solid black;
          padding: 10px;
          align-items: center;
          text-decoration: none;
          height: 100%;
          width: 100%; }
          .grid .gridMain .cont .cont__articulos .cont__articulos__a .conteiner {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 43%;
            height: 100%; }
            .grid .gridMain .cont .cont__articulos .cont__articulos__a .conteiner .conteiner__img {
              width: 90%; }
              .grid .gridMain .cont .cont__articulos .cont__articulos__a .conteiner .conteiner__img :hover {
                transform: scale(1.1, 1.1); }
          .grid .gridMain .cont .cont__articulos .cont__articulos__a .cont__articulos__a__txt {
            display: flex;
            flex-direction: column; }
            .grid .gridMain .cont .cont__articulos .cont__articulos__a .cont__articulos__a__txt h2, .grid .gridMain .cont .cont__articulos .cont__articulos__a .cont__articulos__a__txt p, .grid .gridMain .cont .cont__articulos .cont__articulos__a .cont__articulos__a__txt :visited {
              color: #48178b; }
            .grid .gridMain .cont .cont__articulos .cont__articulos__a .cont__articulos__a__txt .precio {
              color: #10c110;
              display: flex;
              justify-content: flex-end;
              font-weight: 700;
              font-size: large; }
  .grid .gridAside {
    grid-area: gridAside;
    text-align: center;
    height: 100%;
    background-color: #20262e; }
  .grid .gridFooter {
    display: flex;
    grid-area: gridFooter;
    background-color: #000000;
    align-items: center; }
    .grid .gridFooter .f__ul {
      display: flex;
      width: 100%;
      justify-content: space-around; }
      .grid .gridFooter .f__ul .f__ul__redes {
        list-style: none;
        font-weight: 800; }

@media (max-width: 600px) {
  .grid {
    display: grid;
    grid-template: 12vh auto auto 10vh / 100%;
    grid-template-areas: "gridHeader" "gridMain" "gridAside" "gridFooter"; }
  .nav {
    width: 100%; }
  .nav__ul {
    flex-wrap: wrap; }
    .nav__ul .nav__ul__li {
      flex-wrap: wrap; }
  .cont__articulos__a {
    flex-direction: column;
    padding: 20 30 20 30; } }
