@import "./base/resets";
.grid{
    background-color: aliceblue;
    height: 100vh;
    display: grid;
    grid-template:  12vh 50vh 50vh 10vh / 80% 20%; 
    grid-template-areas: 
    "gridHeader gridHeader"
    "gridMain gridAside"
    "gridMain gridAside"
    "gridFooter gridFooter ";
}
.gridHeader{
    grid-area:gridHeader;
       .nav{
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: #e4f30e;
            border-bottom: 1px solid;
        .nav__search{
            width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .nav__search__i{
            height: 100%;
        }
        .nav__search__icon{
            width: 2%;
            .material-symbols-outlined{
                width: 100%;
                height: 100%;

            }
        }
    }
        
       
        .nav__ul{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            align-items: center;
            }
            .nav__ul__li.logo{
                width: 30%;
            }
            .nav__ul__li{
                color: rgb(5, 5, 5);
                display: flex;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
                :hover{
                    background-color: cadetblue;
                }
                
                
                
                .nav__ul__li__a{
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;    
                }
            }
        }
    }
 




.gridMain{
    text-align: center;
    grid-area: gridMain;
    background-color:aliceblue;
    border-right: 1px solid black;
    height: 100%;

.cont{
    display: flex;
    flex-flow: column;
    height: 100%;
    .cont__articulos{
        height: 30%;
        width: 100%;
        display: flex;
        :hover{
            background-color: antiquewhite;
        }
    
    
        .cont__articulos__a{
            display: flex;
            border: 1px solid black;
            padding: 10px;
            align-items: center;
            text-decoration: none;
            height: 100%;
            width: 100%;

            .conteiner{
                display: flex;
                align-items: center;
                justify-content: center;
             width: 43%;
             height: 100%;
             .conteiner__img{
                width: 90%;
               :hover{
                    transform: scale(1.1,1.1);
                }
            }
        }
    .cont__articulos__a__txt{
                display: flex;
                flex-direction: column;
                .precio{
                    color: rgb(16, 193, 16);
                    display: flex;
                    justify-content: flex-end;
                    font-weight: 700;
                    font-size: large; }
            }
        }
    }
}
}

               
            
        
        
    

.gridAside{
    grid-area: gridAside;
    text-align: center;
}


.gridFooter{
    grid-area: gridFooter;
    background-color: brown;
}
